<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/02/23 08:29:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;E2OpenPortal.Initializtion()[pri:0, instance:Testcases.E2OpenPortal@4386f16]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@365181913</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/02/23 08:29:30</td>   <td>6475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2OpenPortal.E2Open()[pri:0, instance:Testcases.E2OpenPortal@4386f16]">E2Open</td> 
  <td>main@365181913</td>   <td></td> </tr>
</table>
